In [13]:
import pandas as pd
import numpy as np
import gmaps
import gmaps.datasets
import requests

from config import g_key

In [23]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
vacation_search_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_search_df

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Rikitea,PF,75.36,clear sky,-23.12,-134.97,Pension Maro'i
1,7,Guerrero Negro,MX,71.49,scattered clouds,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
2,15,Popondetta,PG,74.07,broken clouds,-8.75,148.25,Timos Transit House
3,16,Kapaa,US,75.20,overcast clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,17,Souillac,MU,73.40,scattered clouds,-20.52,57.52,Bils' Villa
...,...,...,...,...,...,...,...,...
168,535,Rundu,NaN,73.40,overcast clouds,-17.93,19.77,Millennia Estate
169,538,Umm Lajj,SA,76.48,scattered clouds,25.02,37.27,Tanal Hotel Apartment
170,541,Prince Rupert,CA,68.00,clear sky,54.32,-130.32,Crest Hotel
171,545,Cross Lanes,US,66.00,scattered clouds,38.42,-81.79,Mardi Gras Casino & Resort
172,546,Camocim,BR,79.47,moderate rain,-2.90,-40.84,Hotel Ilha do Amor

In [15]:
Kabanjahe_df = vacation_search_df.loc[vacation_search_df["City"]=="Kabanjahe"]
Sibolga_df = vacation_search_df.loc[vacation_search_df["City"]=="Sibolga"]
Padang_df = vacation_search_df.loc[vacation_search_df["City"]=="Padang"]
Bengkulu_df = vacation_search_df.loc[vacation_search_df["City"]=="Bengkulu"]

In [16]:
Kabanjahe_df

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
9,27,Kabanjahe,ID,78.8,light rain,3.1,98.49,Pelindung Bawah Losmen

In [17]:
Kabanjahe = tuple(zip(Kabanjahe_df["Lat"],Kabanjahe_df["Lng"]))[0]
Kabanjahe

(3.1, 98.49)

In [18]:
Sibolga = tuple(zip(Sibolga_df["Lat"],Sibolga_df["Lng"]))[0]
Sibolga

(1.74, 98.78)

In [19]:
Padang = tuple(zip(Padang_df["Lat"],Padang_df["Lng"]))[0]
Padang

(-0.95, 100.35)

In [11]:
Bengkulu = tuple(zip(Bengkulu_df["Lat"],Bengkulu_df["Lng"]))[0]
Bengkulu

(-3.8, 102.27)

In [73]:
fig=gmaps.figure()
Kabanjahe2Bengulu = gmaps.directions_layer(Kabanjahe, Bengkulu,
                                                              waypoints = [Sibolga,Padang],
                                                              travel_mode = "DRIVING")
fig.add_layer(Kabanjahe2Bengulu)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
vacation_cities_df = pd.concat([Kabanjahe_df,Sibolga_df,Padang_df,Bengkulu_df])

In [44]:
vacation_cities_df

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
9,27,Kabanjahe,ID,78.80,light rain,3.10,98.49,Pelindung Bawah Losmen
13,35,Sibolga,ID,78.57,overcast clouds,1.74,98.78,Hotel Syariah CN Darussalam
138,412,Padang,ID,78.57,light rain,-0.95,100.35,Mercure Padang
92,250,Bengkulu,ID,77.04,light rain,-3.80,102.27,Grage Hotel Bengkulu

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} Â°F </dd>

</dl>
"""
# Store the DataFrame Row.
trip_info = [info_box_template.format(**row) for index, row in vacation_cities_df.iterrows()]

In [72]:

# fig.add_layer(marker_layer)
# # Call the figure to plot the data.
# fig
locations = vacation_cities_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


Kabanjahe2Bengulu = gmaps.directions_layer(Kabanjahe, Bengkulu,
                                                              waypoints = [Sibolga,Padang],
                                                              travel_mode = "DRIVING",
                                                              show_markers = False)
marker_layer = gmaps.marker_layer(locations, info_box_content = trip_info)

marker_layer.markers[0].label = 'A'
marker_layer.markers[1].label = 'B'
marker_layer.markers[2].label = 'C'
marker_layer.markers[3].label = 'D'


fig.add_layer(Kabanjahe2Bengulu)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))